body {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: rgb(252, 218, 29);
}

h2 {
  text-align: center;
  color: gold;
}

.logo-enter {
  transform: translateY(-300%);
}

.logo-enter-active {
  transform: translateY(0);
  transition: all 500ms linear;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.1);
}
.alert-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 250ms linear;
}

.alert-exit {
  opacity: 1;
  transform: scale(1);
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.1);
  transition: all 250ms linear;
}

header {
  margin: 0 auto;
  border-bottom: 2px dashed #1c6ea4;
}

nav {
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: black;

  transition: all 250ms linear;
}

.nav-link:hover,
.nav-link:focus {
  color: gold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 150px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;

  color: black;
  transition: all 250ms linear;
  outline: none;
  border: solid 2px white;
  border-radius: 10px;
}

button:hover {
  color: black;
  background-color: greenyellow;
  border-color: black;
}

input {
  border-radius: 5px;

  color: white;
  transition: all 250ms linear;
  border: solid 2px white;
}

input:hover,
input:focus {
  background-color: gold;
}

.exit-button {
  width: 150px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: tomato;
  color: white;
  transition: all 250ms linear;
  outline: none;
  border: solid 2px white;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exit-button:hover {
  color: black;
  background-color: red;
  border-color: black;
}

#root {
  width: 350px;
  background-color: turquoise;
  border: 5px double #1c6ea4;
  border-radius: 30px;
}
